.voting-enter, .voting-appear {
    opacity: 0;
}

.voting-enter-active, .voting-appear-active {
    opacity: 1;
    transition: opacity .15s linear;
}

div {
    outline: none;
}

table.ranks-table > tbody > tr > td {
    vertical-align: middle;
}

table.ranks-table > thead > tr > th:first-child,
table.ranks-table > tbody > tr > td:first-child {
  padding-left: 2rem !important;
}

.vote-dump {
    font-size: 70%;
}
