.voting-enter, .voting-appear {
    opacity: 0;
}

.voting-enter-active, .voting-appear-active {
    opacity: 1;
    transition: opacity .15s linear;
}

div {
    outline: none;
}

table.ranks-table > tbody > tr > td {
    vertical-align: middle;
}

table.ranks-table a.icon {
    -webkit-scale: 0.75;
}

.vote-dump {
    font-size: 70%;
}
